
.form-group{
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}
.container{
  padding: 15px 20px;
  background-color:#f5f5f5;  
  margin-top: 50px;
  margin-bottom: 5%;
  box-shadow: 5px 10px 18px rgb(45, 77, 65);
  }

 

  .file{
    display:none;
   }
    /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  
    /* CSS */
    #iconAddAdmins{
        width: 50%;
        margin-left: 20%;
    }
    .container{
        width: 40%;
        }
        .btn{
            margin-top: 10%;
        }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    #iconAddAdmins{
        width: 50px;
        margin-left: 40%;
    }
    .container{
        width: 50%;
        }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    #iconAddAdmins{
        width: 50px;
        margin-left: 40%;
    }
    .container{
        width: 100%;
        }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
 
    .container{
        width: 100%;
        }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
    #iconAddAdmins{
        width: 50px;
        margin-left: 40%;
    }
    .container{
        width: 100%;
        }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */

    #iconAddAdmins{
        width: 50px;
        margin-left: 40%;
    }
    .container{
        width: 100%	;
        }
    
  }
  @media (max-width: 319px) {
    
    /* CSS */
    .error{
        font-size: 70%;
    }
    #iconAddAdmins{
        width: 50px;
        margin-left: 40%;
    }
    .container{
        width: 100%	;
        }
    
  }